**/.git
**/.github
**/.gitignore
**/__pycache__
**/*.pyc

# Ignore temporary assets
github_clones/*.zip
github_clones/*_temp/

# Builds requiring git metadata
!github_clones/ardupilot/**/.git
!github_clones/PX4-Autopilot/**/.git
!github_clones/onnxruntime/**/.git
